demosynapsesws01/pipeline/MOV_PIP-0202-CopyCloudStreaming.json
{
	"name": "MOV_PIP-0202-CopyCloudStreaming",
	"properties": {
		"activities": [
			{
				"name": "LookupTablesCloudStreaming",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table' AND table_schema != 'Hidden'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_LUP_Southridge_CloudStreaming",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableCloudStreaming",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTablesCloudStreaming",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTablesCloudStreaming').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy CloudStreaming",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MOV_IDS_SRC_Southridge_CloudStreaming",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "MOV_IDS_SNK_ADLS_RAW_SourthRidge_CloudStreaming_PARQUET",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "Movies"
		},
		"annotations": []
	}
}