demosynapsesws01/pipeline/MOV_PIP_CompletePipeline.json
{
	"name": "MOV_PIP_CompletePipeline",
	"properties": {
		"description": "OpenHack MDWH\nAzure Synapse Analytics Demo\nhttps://github.com/aessing/demo-azuresynapse\n\nDeveloper: Andre Essing\n(https://www.andre-essing.de/)\n(https://github.com/aessing)\n(https://twitter.com/aessing)\n(https://www.linkedin.com/in/aessing/)\n\nTHIS CODE AND INFORMATION ARE PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND,\nEITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED\nWARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.",
		"activities": [
			{
				"name": "LookupTables_CloudSales",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table' AND table_schema != 'Hidden'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_SRC_Southridge_CloudSales",
						"type": "DatasetReference",
						"parameters": {
							"table_schema": "information_schema",
							"table_name": "tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable_CloudSales",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables_CloudSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables_CloudSales').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyTables_CloudSales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MOV_IDS_SRC_Southridge_CloudSales",
									"type": "DatasetReference",
									"parameters": {
										"table_schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "MOV_IDS_SNK_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "movies",
										"container_path": "raw/Southridge/CloudSales",
										"container_file": {
											"value": "@concat(item().table_schema,'.',item().table_name,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEachTable_CloudStreaming",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables_CloudStreaming",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables_CloudStreaming').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyTables_CloudStreaming",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MOV_IDS_SRC_Southridge_CloudStreaming",
									"type": "DatasetReference",
									"parameters": {
										"table_schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "MOV_IDS_SNK_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "movies",
										"container_path": "raw/Southridge/CloudStreaming",
										"container_file": {
											"value": "@concat(item().table_schema,'.',item().table_name,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LookupTables_CloudStreaming",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table' AND table_schema != 'Hidden'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_SRC_Southridge_CloudStreaming",
						"type": "DatasetReference",
						"parameters": {
							"table_schema": "information_schema",
							"table_name": "tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyData_SouthridgeMovies",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbSqlApiSource",
						"preferredRegions": []
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MOV_IDS_SRC_Southridge_Movies",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MOV_IDS_SNK_JSON",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "movies",
							"container_path": "raw/Southridge/Movies",
							"container_file": "export.json"
						}
					}
				]
			},
			{
				"name": "CopyData_FourthCoffee",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MOV_IDS_SRC_FourthCoffee_onPrem",
						"type": "DatasetReference",
						"parameters": {
							"directory": "Rentals"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MOV_IDS_SNK_BINARY",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "movies",
							"container_path": "raw/FourthCoffee/Rentals"
						}
					}
				]
			},
			{
				"name": "LookupTables_vanArsdel",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table' AND table_schema != 'Hidden'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_SRC_VanArsdel_OnPremRentals",
						"type": "DatasetReference",
						"parameters": {
							"table_schema": "information_schema",
							"table_name": "tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable_vanArsdel",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables_vanArsdel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables_vanArsdel').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyTables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MOV_IDS_SRC_VanArsdel_OnPremRentals",
									"type": "DatasetReference",
									"parameters": {
										"table_schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "MOV_IDS_SNK_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "movies",
										"container_path": "raw/VanArsdel/OnPremRentals",
										"container_file": {
											"value": "@concat(item().table_schema,'.',item().table_name,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "PrepareStreamingData",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "PrepareSalesData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MOV_NBK_0401_Streaming",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "PrepareRentalData",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ForEachTable_vanArsdel",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CopyData_FourthCoffee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MOV_NBK_0402_Rentals",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "PrepareCustomerData",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "PrepareStreamingData",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "PrepareRentalData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MOV_NBK_0403_Customers",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "PrepareSalesData",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ForEachTable_CloudSales",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachTable_CloudStreaming",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MOV_NBK_0404_Sales",
						"type": "NotebookReference"
					}
				}
			},
			{
				"name": "PrepareCatalogData",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CopyData_SouthridgeMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CopyData_FourthCoffee",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachTable_vanArsdel",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachTable_CloudStreaming",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachTable_CloudSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "MOV_NBK_0405_Catalog",
						"type": "NotebookReference"
					}
				}
			}
		],
		"folder": {
			"name": "Movies"
		},
		"annotations": []
	}
}