demosynapsesws01/pipeline/MOV_PIP-0201-CopyData.json
{
	"name": "MOV_PIP-0201-CopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTablesCloudSales",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_SRC_CloudSales",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupTablesCloudStreaming",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name\n  FROM information_schema.tables\n WHERE table_type = 'base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MOV_IDS_SRC_CloudStreaming",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableCloudSales",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTablesCloudSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTablesCloudSales').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachTableCloudStreaming",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTablesCloudStreaming",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTablesCloudStreaming').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Movies"
		},
		"annotations": []
	}
}